@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Montserrat:wght@300&display=swap');

#sheet {
  background-image: url('/public/images/charactersheet.jpg')
}

#sheet p, #sheet h3{
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
}

#sheet h3 {
  text-align: center;
}


#avatar {
  width: 300px;
  height: 300px;
}
